<div class="error-area ptb-100">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <img alt="image" class="image-of-content" src="assets/img/payment-success.jpg">
                    <h3>System Messenger: Payment success and processing for course's</h3>
                    <div class="btn-box">
                        <a (click)="goToHome()" class="default-btn" href="javascript:void(0);"><i
                            class="flaticon-history"></i>Go Back Home<span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
