<div class="video-area">
    <div class="container">
        <div class="video-box mt-0">
            <lightgallery [onBeforeSlide]="onBeforeSlide" [settings]="settings">
                <a
                    class="d-block"
                    data-lg-size="1280-720"
                    data-src="https://www.youtube.com/watch?v=PWvPbGWVRrU"
                    data-sub-html="<p>Watch Video</p>"
                >
                    <div class="image">
                        <img alt="image" class="shadow" src="assets/img/video-img2.jpg">
                    </div>
                    <div class="video-btn popup-youtube">
                        <i class="flaticon-play"></i>
                    </div>
                </a>
            </lightgallery>
        </div>
    </div>
</div>
