<div class="user-area">
    <div class="container">
<!--        <div class="user-all-form">-->
<!--            <form [formGroup]="loginForm">-->
<!--                <div class="form-group">-->
<!--                    <label>User name hoặc email</label>-->
<!--                    <input class="form-control border-profile" formControlName="userNameOrEmailAddress" type="text" />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>Mật khẩu</label>-->
<!--                    <input class="form-control" formControlName="password" name="password" type="password" />-->
<!--                </div>-->

<!--                <div class="form-group d-flex justify-content-between align-items-center">-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox" formControlName="rememberMe" id="rememberMe">-->
<!--                        <label class="form-check-label" for="rememberMe">-->
<!--                            Ghi nhớ đăng nhập-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <a routerLink="/forgot-password">Quên mật khẩu?</a>-->
<!--                </div>-->

<!--                <div class="btn-box">-->
<!--                    <a (click)="loginWithEmail()" class="default-btn with-btn-login" href="javascript:void(0)">Đăng nhập<span></span></a>-->
<!--                </div>-->

<!--                <div class="sub-title">-->
<!--                    <span>Hoặc đăng nhập</span>-->
<!--                </div>-->
<!--                <div class="login-with-account">-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <div class="login-social">-->
<!--                                <a (click)="loginWithFaceBook()" href="javascript:void(0)">-->
<!--                                    <i class="bx bxl-facebook-circle"></i>-->
<!--                                    <span>Đăng nhập với Facebook</span>-->
<!--                                </a>-->
<!--                            </div>-->

<!--                        </li>-->
<!--                        <li>-->
<!--                            <div class="login-social">-->
<!--&lt;!&ndash;                                <asl-google-signin-button shape="square" size='large' theme="filled_blue"&ndash;&gt;-->
<!--&lt;!&ndash;                                                          type='standard'&ndash;&gt;-->
<!--&lt;!&ndash;                                                          width="400"></asl-google-signin-button>&ndash;&gt;-->
<!--                            </div>-->

<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <p>-->
<!--                    Bạn chưa có tài khoản?-->
<!--                    <a routerLink="/register">Tạo tài khoản</a>-->
<!--                </p>-->
<!--            </form>-->
<!--        </div>-->
    </div>
</div>

