<div class="card">
  <div class="card-header">
    <div class="row mt-2">
      <div class="col col-md-10 d-flex">
        <p-button (click)="backToChapter()" size="small" class="tw-p-1">
          <i class="fa fa-arrow-left"> Back </i>
        </p-button>

        <h5 class="card-title tw-my-auto">
          <span class="tw-uppercase">
             {{ '::Menu:Lessons' | abpLocalization }} -
          </span>

          <i class="fa fa-book"> {{ chapter.courseTitle }} </i>
          <span class="tw-mx-3">-</span>
          <i class="fa fa-list-ol"> {{ chapter.title }} </i>
        </h5>
      </div>
      <div class="text-end col col-md-2">
        <div class="text-lg-end">
          <button *abpPermission="'CourseMate.Lessons.Create'" id="create" class="btn btn-primary" type="button"
                  (click)="create()">
            <i class="fa fa-plus me-1"></i>
            <span>{{ '::Create' | abpLocalization }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="data-tables-table-filter" class="data-tables-filter mb-3">
      <div class="input-group">
        <input
          type="search"
          class="form-control"
          [placeholder]="'AbpUi::PagerSearch' | abpLocalization"
          [(ngModel)]="list.filter"
        />
      </div>
    </div>

    <ngx-datatable [rows]="lessons.items" [count]="lessons.totalCount" [list]="list" default>
      <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [maxWidth]="150"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button *abpPermission="'CourseMate.Lessons.Edit'" ngbDropdownItem (click)="edit(row.id)">
                {{ '::Edit' | abpLocalization }}
              </button>
              <button *abpPermission="'CourseMate.Lessons.Delete'" ngbDropdownItem (click)="delete(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Title' | abpLocalization" prop="title"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Position' | abpLocalization" prop="position"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::LessonType' | abpLocalization" prop="levelType">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ '::Enum:LessonType.' + row.lessonType | abpLocalization }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::CreationTime' | abpLocalization" prop="creationTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.creationTime | shortDateTime }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::LastModificationTime' | abpLocalization"
                            prop="lastModificationTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.lastModificationTime | shortDateTime }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!-- Add the modal here -->
<abp-modal [(visible)]="isModalOpen" [options]="{ fullscreen: true }">
  <ng-template #abpHeader>
    <h3>{{ (selectedLesson.id ? '::Edit' : '::Create') | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form">
      <div class="tw-grid tw-grid-cols-12 tw-gap-4">
        <div class="tw-col-span-9">
          <p-floatlabel variant="on">
            <input pInputText class="tw-w-full" type="text" id="title" formControlName="title" />
            <label for="title">Title</label>
          </p-floatlabel>
        </div>
        <div class="tw-col-span-1">
          <p-floatlabel variant="on">
            <input pInputText class="tw-w-full" type="number" step="1" min="0" id="position"
                   formControlName="position" />
            <label for="position">Position</label>
          </p-floatlabel>
        </div>
        <div class="tw-col-span-2">
          <p-button (onClick)="generatePosition()">Last position</p-button>
        </div>

        <div class="tw-col-span-3 tw-mb-5">
          <p-select-button [options]="lessonTypeOptions" optionLabel="key" optionValue="value" aria-labelledby="basic"
                           formControlName="lessonType" class="tw-w-full" />
        </div>
        <div class="tw-col-span-9"></div>

        @if (form.get('lessonType').value === LessonType.Video) {
          <div class="tw-col-start-4 tw-col-span-6">
            <label for="thumbnail">Thumbnail</label>
            <p-fileupload (uploadHandler)="uploadHandler($event)" customUpload="true" accept="image/*"
                          [files]="files" maxFileSize="1000000" mode="advanced" previewWidth="500"
                          (onRemove)="onRemove($event)"
                          showCancelButton="false">
              <ng-template #empty>
                <div>Drag and drop files to here to upload.</div>
              </ng-template>
            </p-fileupload>
          </div>
        } @else if (form.get('lessonType').value === LessonType.Article && form.get('article')) {
          <div class="tw-col-span-12" formGroupName="article">
            <label for="articleContent">Content</label>
            <p-editor formControlName="content" [style]="{ height: '320px' }" />
          </div>
        } @else if (form.get('lessonType').value === LessonType.Quiz && form.get('quizQuestion')) {
          <div class="tw-col-span-10" formGroupName="quizQuestion">
            <p-floatlabel variant="on">
              <input pInputText class="tw-w-full" type="text" id="questionText" formControlName="questionText" />
              <label for="questionText">Question</label>
            </p-floatlabel>
          </div>
          <div class="tw-col-span-2">
            <p-button (onClick)="addOption()">Add option</p-button>
          </div>

          <div formGroupName="quizQuestion">
            @for (quizOption of getQuizOption().controls; track $index) {
              <div class="tw-col-span-10" formArrayName="quizOptions">
                <p-floatlabel variant="on">
                  <input pInputText class="tw-w-full" type="text" [id]="'text-' + $index"  formControlName="title" />
                  <label for="title">Title</label>
                </p-floatlabel>
              </div>
              <div class="tw-col-span-2" formArrayName="quizOptions">
                <p-checkbox class="tw-m-2" formControlName="isActive" [binary]="true" inputId="isActive" />
                <label for="isActive">Active</label>
              </div>
            }
          </div>

        } @else if (form.get('lessonType').value === LessonType.Quiz && form.get('codingExercise')) {

        }
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <p-button severity="secondary" (click)="onClickClose()">
      {{ '::Close' | abpLocalization }}
    </p-button>

    <p-button (click)="save()" [disabled]="form.invalid"><i
      class="fa fa-check mr-1"></i>{{ '::Save' | abpLocalization }}
    </p-button>
  </ng-template>

</abp-modal>
