<div [ngClass]="{ sticky: isSticky }" class="navbar-area">
    <div class="container-fluid">
        <nav [class.active]="classApplied" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink="/"><img alt="logo" ngSrc="assets/img/logo.png" height="800"
                                                        width="800" /></a>
            <button (click)="toggleClass()" class="navbar-toggler" type="button">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="search-box">
                    <input class="input-search" placeholder="Find the course on the system" type="text" />
                    <button type="submit">
                        <i class="flaticon-search"></i>
                    </button>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a [routerLinkActiveOptions]="{ exact: true }" class="nav-link" routerLink="/"
                           routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLinkActiveOptions]="{ exact: true }" class="nav-link" routerLink="/download-document"
                           routerLinkActive="active">Documents</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLinkActiveOptions]="{ exact: true }" class="nav-link" routerLink="/news"
                           routerLinkActive="active">News</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLinkActiveOptions]="{ exact: true }" class="nav-link" routerLink="/about"
                           routerLinkActive="active">About Us</a>
                    </li>
                    <li class="nav-item border-animation" style="margin-left: 20px; margin-right: 20px;">
                        <a [routerLinkActiveOptions]="{ exact: true }" class="nav-link" routerLink="/training-online"
                           routerLinkActive="active">Training Online</a>
                    </li>

                    <div class="others-option d-flex align-items-center others-option d-flex align-items-center ms-3">
                        <div class="option-item">
                            <p-button routerLink="/cart" icon="pi pi-shopping-cart" [rounded]="true" [text]="true"
                                      severity="secondary"
                                      [badge]="totalCartItem" />
                        </div>

                        <div class="option-item">
                            <p-button (click)="op.toggle($event)" icon="pi pi-bell" [rounded]="true" [text]="true"
                                      severity="secondary"
                                      badge="2" />
                            <p-popover #op>
                                <div class="tw-flex tw-flex-col tw-gap-4 tw-w-[25rem]">
                                    <div class="tw-flex tw-flex-col tw-gap-4 tw-w-[25rem]">
                                        <span
                                            class="tw-font-medium tw-text-surface-900 dark:tw-text-surface-0 tw-block tw-mb-2">Notifications</span>
                                        <ul class="tw-list-none tw-p-0 tw-m-0 tw-flex tw-flex-col tw-gap-4 tw-divide-y">
                                            @for (notification of notifications; track notification) {
                                                <li class="tw-flex tw-items-start tw-gap-2 tw-bg-white tw-rounded-lg tw-p-2">
                                                    <i class="pi pi-check-circle tw-text-emerald-500 tw-text-xl tw-mt-1"></i>
                                                    <div class="tw-flex-1">
                                                        <div class="tw-font-semibold">
                                                            {{ notification.title }}
                                                        </div>
                                                        <div class="tw-text-sm tw-text-muted-color">
                                                            {{ notification.content }}
                                                        </div>
                                                    </div>
                                                    <span
                                                        class="tw-text-xs tw-text-muted-color tw-whitespace-nowrap">{{ notification.creationTime | shortDateTime }}</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </p-popover>
                        </div>

                        <div class="option-item">
                            @if (hasLoggedIn) {
                                <p-button (click)="login()" [label]="currentUser.userName" icon="pi pi-user"
                                          [rounded]="true" [text]="true"
                                          severity="secondary" variant="text" />
                            } @else {
                                <p-button (click)="login()" [text]="true" variant="outlined" label="Login"
                                          severity="primary" />
                            }
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</div>

<ng-template #popoverContent>
    <div style="min-width: 200px;">
        <div class="d-flex align-items-center mb-3">
            <img ngSrc="assets/img/user1.jpg" alt="User Image" class="rounded-circle me-2"
                 width="40" height="40"
                 style="object-fit: cover;">
            <div>
                <h6 class="mb-0">{{ currentUser.userName }}</h6>
                <small class="text-muted">Member</small>
            </div>
        </div>

        <ul class="list-unstyled mb-0">
            <li class="mb-2">
                <a href="/profile"
                   class="d-flex align-items-center text-decoration-none text-dark">
                    <i class="bx bx-user me-2"></i> Profile
                </a>
            </li>
            <li class="mb-2">
                <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
                    <i class="bx bx-cog me-2"></i> Settings
                </a>
            </li>
            <li class="mb-2">
                <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
                    <i class="bx bx-bell me-2"></i> Help
                </a>
            </li>
            <li>
                <a (click)="logoutAccount()" href="javascript:void(0)"
                   class="d-flex align-items-center text-decoration-none text-danger">
                    <i class="bx bx-log-out-circle me-2"></i> Sign Out
                </a>
            </li>
        </ul>
    </div>
</ng-template>



