<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Cart</li>
            </ul>
            <h2>Cart</h2>
        </div>
    </div>
    <div class="shape9"><img alt="image" src="assets/img/shape8.svg" /></div>
</div>

<div *ngIf="!isAuthenticated" class="header-cart-payment">
    <div class="user-actions">
        <i class="bx bx-log-in"></i>
        <span>Are you a member?
              <a (click)="loginAccount()" href="javascript:void(0)">Click for login</a>
              <a (click)="loginAccount()" href="javascript:void(0)">/ Register for continues</a>
        </span>
    </div>
</div>
<div class="container pt-5 pb-5">

    <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="cart-table table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Course</th>
                    <th scope="col">Amount</th>
                </tr>
                </thead>
                <tbody>
                    @for (cart of this.carts; track cart.id) {
                        <tr>
                            <td class="product-thumbnail">
                                <a routerLink="/training-online/{{cart.courseId}}">
                                    <img alt="item" [src]="cart.course.thumbnailFile" />
                                </a>
                            </td>
                            <td class="product-name">
                                <a routerLink="/training-online/{{cart.courseId}}">{{ cart.course.title }}</a><br />
                                <a routerLink="/training-online/{{cart.courseId}}">{{ cart.course.author.userName }}</a><br />
                                <div class="rating">
                                    <span>4.0</span>&nbsp;
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star checked"></span>&nbsp;
                                    <!--                                    <span>({{ cart.totalVote }} rating)</span>-->
                                </div>
                                <div>
                                    <ul class="detail-courses-cart">
                                        <!--                                        <li>{{ cart.course.duration }} giờ học</li>-->
                                        <li>{{ cart.course.chapters.length }} bài học</li>
                                        <li>{{ cart.course.category.name }}</li>
                                    </ul>
                                </div>
                            </td>
                            <td class="product-subtotal">
                                <!-- @if( item.isDiscount == true)
                                 {}}-->
                                <span class="subtotal-amount">{{ cart.course.price }} VNĐ</span>
                                <a (click)="removeItem(cart.courseId)" class="remove" href="javascript:void(0)"><i
                                    class="bx bx-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="cart-totals">
            <h3>Information Of Order</h3>
            <ul>
                <li>Total bill Order <span>{{ totalValue | currency: 'VND':'symbol':'1.0-0' }}</span></li>
                <li>Discount <span></span></li>
                <li>Total Amount <span>{{ totalValue | currency: 'VND':'symbol':'1.0-0' }}</span></li>
            </ul>

            <div class="shopping-coupon-code">
                <input class="form-control" id="coupon-code" name="coupon-code" placeholder="Promotion Code"
                       type="text" />
                <button type="submit">Promotion code</button>
            </div>
            <a (click)="onClickCheckout()" class="default-btn with-btn-login" href="javascript:void(0)">
                <i class="flaticon-shopping-cart"></i>
                Proceed to Checkout
            </a>
        </div>
    </div>
</div>
